FIRE Dataset/
Forest Fire dataset/
full dataset/
logs/
model details/
the_wildfire_dataset/
test dataset/
test dataset videos/
wildfire_dataset/
fire_dataset/
fire_forest_fire_datasets/
full_dataset/
fire_news/
new_fire_forest_fire_datasets/
new_full_dataset/
code_models/__pycache__/